/* General Rulesets */
* {
    color: #ffffff;
  }
  
  body {
    font-family: Helvetica, sans-serif;
      background: url("https://s3.amazonaws.com/codecademy-content/courses/learn-handlebars/musicon/musicon_bg.png") no-repeat center center fixed;
    background-size: cover;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  #connection {
    width: 100%;
    margin: 15% auto;
    text-align: center;
  }
  
  #top {
    margin: 15% auto;
  }
  

  .contact {
    width: 100%;
    margin: 10% auto;
    font-size: 50px;
  }
  
  